body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 100%;
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  color: #333;
}

.text {
  padding-top: 4rem;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

q {
  font-family: 'Julius Sans One';
  font-size: 2.5rem;
  font-variant: small-caps;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 1.3rem;
  font-style: italic;
}